</html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{# if loggedin}}
        Welcome {{userName}}
        {{else}}
        NodeJS
        {{/if}}
    </title>
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {{!-- integrity="sha384-BVYiiSIFeK1dGmJRAKycuHARg320mUcww7on3RYdg4Va+PmSTsz/K68vbddEjh4u" crossorigin="anonymous">
    --}}
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body class="container">
    <div class="page-header has-text-centered">
        <h1 class="title">Who is that pokemon?!</h1>
        <h2 class="subtitle">Login Page</h2>
    </div>

    <nav class="navbar navbar-default has-shadow">
        <div class="container-fluid">
            <!-- Collect the nav link, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav is-size-5 px-3">
                    <a class="navbar-burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <img src="images/pokeball.png" class="rounded-5" alt="pokeball" />
                    <li><a href="/">Home</a></li>
                    <li><a href="/signup">Sign up</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right has-text-weight-bold px-5">
                {{# if loggedin}}
                <li><a href="/logout">Log Out</a></li>
                {{else }}
                <li><a href="/login">Log In</a></li>
                {{/if}}
            </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    {{{body}}}

</body>

</html>