<div class="container row">
            <div id="loginbutton" class="jumbotron col-sm-4 pull-center px-6">
                <form action="/login" method="post">
                    <div>
                        <label>Username:</label>
                        <input type="text" name="username"/>
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" name="password"/>
                    </div>
                    <div>
                        <input class="button is-danger" type="submit" value="Log In"/>
                    </div>
                </form>                  
            </div>         
</div>

