

<div class="container row">
    <div id="loginbutton" class="col-md-5 px-6 jumbotron">
        <img src="images/whos that pokemon.png" class="header-photo " alt="pokeball" />
        <form action="/login" method="post">
            <div>
                <label>Username:</label>
                <input type="text" name="username" />
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password" />
            </div>
            <div>
                <input type="submit" value="Log In" />
            </div>
        </form>
    </div>
     <div class="col">
                <img src="images/ash.png" class="col-lg mx-auto d-block loginphoto" alt="pokeball" />
            </div>
</div>
