{{!-- <div class="container row">
    <div class="jumbotron col-sm-4 pull-center">
        <form action="/signup" method="post">
            <div>
                <label>Username:</label>
                <input type="text" name="username" />
            </div>
            <div>
                <label>Email:</label>
                <input type="text" name="email" />
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password" />
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Sign Up" />
            </div>
        </form>
    </div>
</div> --}}



<div class="container text-center">
    <div class="row justify-content-evenly">
        <div class="col-4">
            <h2 class="dashtitle">
                <img src="../images/eggicon.jpg" class="card-img-top icon" alt="...">
                Favorites
            </h2>
            <div class="card" style="width: 18rem;">
                <img class="card-background-img" src="../images/pokedex2.png" alt="Card image">
                <div class="card-img-overlay">
                    <li class="list-group-item">Number</li>
                    <img src="../images/pokemonimg/001Bulbasaur.png" class="card-img-top" alt="...">
                    <li class="list-group-item">Name</li>
                    {{!-- Boxes for Types --}}
                    <li class="list-group-item types">Types</li>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-evenly">
        <div class="col-4">
            <h2 class="dashtitle"><img src="../images/masterball icon.png" class="card-img-top icon" alt="...">
                My Team or team name
            </h2>
            <div class="card" style="width: 18rem;">
                <img class="card-background-img" src="../images/pokedex2.png" alt="Card image">
                <div class="card-img-overlay">
                    <li class="list-group-item">Number</li>
                    <img src="../images/pokemonimg/001Bulbasaur.png" class="card-img-top" alt="...">

                    <li class="list-group-item">Name</li>
                    <li class="list-group-item types">Types</li>

                </div>
            </div>
        </div>
    </div>