.icon {
    max-height: 50px;
    border-radius: 50%;
    
}

.nav {
    background-color: #FB1B1B;
    color: black;
    align-items: center;
}

.card{
    background-color: #FB1B1B;
}

.list-group{
    background-color: #FB1B1B;
}